<footer class="footer">
  <nav>
     <%= link_to "https://www.facebook.com/pages/Inyourshoes/1464365723776237" do %> <i class="fa fa-facebook fa-3x "></i><% end %>
     <%= link_to "https://twitter.com/inyourshoeschat" do %><i class="fa fa-twitter fa-3x "></i><% end %>
     <%= link_to "https://plus.google.com/u/0/109821961388326511574/posts" do %> <i class="fa fa-google-plus fa-3x "></i><% end %>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
